@model IPagedList<Category>

@{
	var categoryQuery = (ViewBag.CategoryQuery as CategoryQuery) ?? new CategoryQuery();
	var actionName = "Index";
	var slug = "";


}

@if (ViewBag.CategoriesList.PageCount > 1)
{
	<div class="text-center my-4">
		@if (ViewBag.CategoriesList.HasPreviousPage)
		{
			<a asp-area="Admin"
	   asp-controller="Categories"
	   asp-action="@actionName"
	   asp-route-k="@categoryQuery.Keyword"
	   asp-route-p="@(ViewBag.CategoriesList.PageNumber - 1)"
	   asp-route-ps="@ViewBag.CategoriesList.PageSize"
	   class="btn btn-info">
				<i class="fa fa-arrow-left"></i>
				Trang trước
			</a>
		}
		else
		{
			<button type="button"
			class="btn btn-outline-secondary"
			disabled>
				<i class="fa fa-arrow-left"></i>
				Trang trước
			</button>
		}

		@if (ViewBag.CategoriesList.HasNextPage)
		{
			<a asp-area="Admin"
	   asp-controller="Categories"
	   asp-action="@actionName"
	   asp-route-k="@categoryQuery.Keyword"
	   asp-route-p="@(ViewBag.CategoriesList.PageNumber + 1)"
	   asp-route-ps="@ViewBag.CategoriesList.PageSize"
	   class="btn btn-info">
				Trang sau
				<i class="fa fa-arrow-right"></i>
			</a>
		}
		else
		{
			<button type="button"
			class="btn btn-outline-secondary"
			disabled>
				Trang sau
				<i class="fa fa-arrow-right"></i>
			</button>
		}
	</div>
}