@model Post

@{
	ViewData["Title"] = Model.Title;
	var imageUrl = string.IsNullOrWhiteSpace(Model.ImageUrl)
				? "/images/image_1.jpg"
				: $"/{Model.ImageUrl}";
}

<div class="container mt-5 mb-5">
	<div class="row">
		<div class="col-md-8">
			<h1 class="mb-4">@Model.Title</h1>
			<p class="text-muted">
				<i class="fas fa-user me-2"></i>
				<span class="me-4">@Model.Author.FullName</span>
				<i class="fas fa-clock me-2"></i>
				<span class="me-4">@Model.PostedDate.ToString("dd/MM/yyyy")</span>
				<i class="fas fa-folder me-2"></i>
				<span class="me-4">@Model.Category.Name</span>
				<i class="fas fa-tags me-2"></i>
				@foreach (var tag in Model.Tags)
				{
					<span class="badge bg-primary me-1">@tag.Name</span>
				}
			</p>
			<div class="mb-4">
				<img src="@imageUrl" alt="@Model.Title" class="img-fluid mb-3" />
				@Html.Raw(Model.Description)
			</div>
			
		</div>
		<div class="col-md-4">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Bài viết liên quan</h5>
					@foreach (var post in ViewBag.relatedPosts)
					{
						<div class="mb-4">
							<a class="text-decoration-none"
								href="@Url.Action("Detail", "Post", new { slug = post.UrlSlug })">
								<h6>@post.Title</h6>
							</a>
							<p class="text-muted">
								<i class="fas fa-clock me-2"></i>
								<span class="me-4">@post.PostedDate.ToString("dd/MM/yyyy")</span>
								<i class="fas fa-folder me-2"></i>
								<span class="me-4">@post.Category.Name</span>
							</p>
						</div>
					}
				</div>
			</div>
		</div>
	</div>
</div>
